# Ignorar dependências
node_modules/


windows-update-server/
# Ignorar build
dist/


# Ignorar arquivos de lock do npm
package-lock.json

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar configurações do sistema
.DS_Store
Thumbs.db

*.exe
# Ignorar arquivos temporários do sistema operacional
*.swp
*.swo

# Ignorar backups de editores
*~

# Ignorar configurações do VSCode (opcional)
.vscode/
