.video-player-container {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    background-color: #000;
  }
  
  #video-element {
    width: 100%;
    height: calc(100% - 20px);
    outline: none;
  }
  
  .video-info {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 8px;
    font-size: 12px;
    text-align: center;
  }